<h1 align=center><font size = 10><font color='blue'>DS Course CAPSTONE Segmenting and Clustering Neigborhood - TORONTO</font></font></h1>

# Part II:  getting the latitude and the longitude coordinates of the DataFrames Neigbourhood

### let import our needed libraries,, for this part, we only need Pandas

In [1]:
import pandas as pd

### now, we take and read the Geospatial Data needed

In [2]:
# read the Geospatial and put in df_geo

df_geo= pd.read_csv("http://cocl.us/Geospatial_data")
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

### now, let export the previus dataset into a dataframe and merge with geospatial DataFrame

In [3]:
#Read the dataset exported from practice 1 and remove extra index column

df1 = pd.read_csv('df1.csv')
df1.drop(['Unnamed: 0'], axis=1, inplace = True)
df1.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [4]:
# Merge GeoSpatial data and prior DataFrame

df_geo.set_index("Postal Code")
df1.set_index("Postal Code")
t_data=pd.merge(df1, df_geo)
t_data.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

### let see dimension of dataframe and export into a new .CSV file for further use

In [5]:
# dataframe dimension
t_data.shape

(103, 5)

In [6]:
# dataframe export to new .csv
t_data.to_csv('t_dataframe.csv')

### end of Part II